html {
    background-color: #f4fff4;
}

section {
    content-visibility: auto;
}

article ul {
    padding: 0;
}

article ul li,
article ol li {
    color: #000000;
    border-left: solid 6px #1fa67a;
    border-bottom: solid 2px #dadada;
    background: rgb(228, 255, 235);
    margin-bottom: 5px;
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none !important;
}

.WebShare {
    z-index: 30;
    background-color: #006400;
    border: 0.5px solid #5f5f5f;
    font-size: 20px;
    border-radius: 100%;
    color: #fff;
    padding: 4px 10px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.WebShare:hover {
    background-color: #fff;
    color: #000000;
}

@media (min-width: 640px) {
    #mobile-header {
        display: none;
    }
    #top-img {
        height: 85px;
        width: auto;
    }
}

@media (max-width: 640px) {
    #top-img {
        max-width: 80%;
    }
    #pc-header {
        display: none;
    }
    input {
        position: fixed;
        opacity: 0;
    }
    input:focus+label .burger {
        opacity: 0.75;
    }
    label {
        position: absolute;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
    }
    label::before {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(10, 38, 57, 0.75);
        content: '';
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    label .burger {
        position: fixed;
        top: 1.2em;
        right: 1em;
        z-index: 3;
        width: 1.4em;
        height: 1.4em;
        margin: 0;
        padding: 0;
        transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    label .burger::before {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 12%;
        background: black;
        content: '';
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        top: 0;
        transform-origin: top left;
    }
    label .burger .bar {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 12%;
        background: black;
        content: '';
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        top: 44%;
    }
    label .burger::after {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 12%;
        background: black;
        content: '';
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        bottom: 0;
        transform-origin: bottom left;
    }
    label:hover .burger {
        opacity: 0.75;
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        transform: translate3d(0, 0, 0);
        transform: translateX(-100%);
        will-change: transform;
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    nav::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 25em;
        background: #006400;
        content: '';
        transform: skewX(15deg) translateX(-100%);
        transform-origin: bottom left;
        will-change: transform;
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    nav a {
        margin: 0.5em 0;
        padding: 0.2em 2em;
        font-size: 1.5em;
        color: white;
        text-decoration: none;
        font-weight: 500;
        transform: translateX(-100%);
        transition: color 0.15s, transform 0.5s;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    nav a:nth-child(1) {
        transition-delay: 0s, 100ms;
    }
    nav a:nth-child(2) {
        transition-delay: 0s, 150ms;
    }
    nav a:nth-child(3) {
        transition-delay: 0s, 200ms;
    }
    nav a:nth-child(4) {
        transition-delay: 0s, 250ms;
    }
    nav a:nth-child(5) {
        transition-delay: 0s, 300ms;
    }
    nav a:nth-child(6) {
        transition-delay: 0s, 350ms;
    }
    nav a:hover {
        color: black;
    }
    nav a:focus {
        color: black;
    }
    [id="navcheck"]:checked+label::before {
        opacity: 1;
        pointer-events: auto;
    }
    [id="navcheck"]:checked+label .burger::before {
        width: 141.42%;
        transform: rotate(45deg) translateY(-50%);
    }
    [id="navcheck"]:checked+label .burger::after {
        width: 141.42%;
        transform: rotate(-45deg) translateY(50%);
    }
    [id="navcheck"]:checked+label .burger .bar {
        transform: scale(0.1);
    }
    [id="navcheck"]:checked~nav {
        transform: translateX(0);
    }
    [id="navcheck"]:checked~nav::before {
        transform: skewX(15deg) translateX(0);
    }
    [id="navcheck"]:checked~nav a {
        transform: translateX(0);
    }
    [id="navcheck"]:checked~main .content {
        transform: translateX(3em);
        transform-origin: left center;
        filter: blur(2px);
    }
    .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    nav::before {
        width: 25em;
    }
}