$icomoon-font-family: "ic731-custom" !default;
$icomoon-font-path: "fonts" !default;

$icon-home: "\e902";
$icon-news: "\e904";
$icon-arrow-right: "\ea3c";
$icon-share: "\ea82";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-github: "\eab0";

