html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "BIZ UDPGothic",
    sans-serif;
}

/*
 https://zenn.dev/tanoken729/articles/6505fe7808e10e
*/
.page-enter,
.page-leave-to {
  opacity: 0;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.4s;
}
